<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="container-fluid p-0 pb-5 mb-5" id="content">
  <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#header-carousel" data-slide-to="1"></li>
      <li data-target="#header-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" style="min-height: 300px;">
        <img class="position-relative w-100" src="assets/img/oaca1.jpeg"
             style="min-height: 300px; object-fit: cover;">
        <div class="carousel-caption d-flex align-items-center justify-content-center">
          <div class="p-5" style="width: 100%; max-width: 900px;">
            <!--            <h5 class="text-white text-uppercase mb-md-3">Best School</h5>-->
            <!--            <h1 class="display-3 text-white mb-md-4">Best Modern Education</h1>-->
            <!-- <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a> -->
          </div>
        </div>
      </div>
      <div class="carousel-item" style="min-height: 300px;">
        <img class="position-relative w-100" src="assets/img/OACA.jpg"
             style="min-height: 300px; object-fit: cover;">
        <div class="carousel-caption d-flex align-items-center justify-content-center">
          <div class="p-5" style="width: 100%; max-width: 900px;">
            <!--            <h5 class="text-white text-uppercase mb-md-3">Best School</h5>-->
            <!--            <h1 class="display-3 text-white mb-md-4">Best Learning Platform</h1>-->
            <!-- <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a> -->
          </div>
        </div>
      </div>
      <div class="carousel-item" style="min-height: 300px;">
        <img class="position-relative w-100" src="assets/img/controleur2.jpeg"
             style="min-height: 300px; object-fit: cover;">
        <div class="carousel-caption d-flex align-items-center justify-content-center">
          <div class="p-5" style="width: 100%; max-width: 900px;">
            <!--            <h5 class="text-white text-uppercase mb-md-3">Best School</h5>-->
            <!--            <h1 class="display-3 text-white mb-md-4">New Way To Learn </h1>-->
            <!-- <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="1">
  <div class="container-fluid py-5">
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/img/oaca3.jpg" alt="" style="height: 350px;">
        </div>
        <div class="col-lg-7">
          <div class="text-left mb-4">
            <h3 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">À propos de nous</h3>
            <h1>Savoir plus sur notre office</h1>
          </div>
          <p>L'Office de l'aviation civile et des aéroports ou OACA est une société
            tunisienne de droit public à caractère industriel et commercial.
            Elle remplace, le 30 juin 1998, l'Office des ports aériens de Tunisie
            créé le 3 juillet 1970.</p><br>
          <p>L'Office de l'Aviation Civile et des Aéroports est chargé notamment de
            l'exploitation, l'aménagement et le développement des aéroports ainsi que
            l'accomplissement de toutes les opérations et services nécessaires aux voyageurs, au
            public, aux aéronefs, au fret et au courrier aérien dans les aéroports
            et le contrôle régional et local de la navigation aérienne et la participation à l'exécution
            des plans de recherches et de sauvegarde. </p>
          <!-- <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section id="2">

  <div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
      <div class="text-center mb-5">
        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Les aéroports</h5>
        <h1>Les Plus Exploités</h1>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="cat-item position-relative overflow-hidden rounded mb-2">
            <img class="img-fluid" src="assets/img/tunis.png" alt="" style="height: 150px;">
            <a class="cat-overlay text-white text-decoration-none" href="">
              <h4 class="text-white font-weight-medium">Tunis-Carthage </h4>
              <span>
            <h6 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px; font-size: 0.9em;">Tunis-Carthage</h6>


          </span>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="cat-item position-relative overflow-hidden rounded mb-2">
            <img class="img-fluid" src="assets/img/enfitha.jpg" alt="" style="height: 150px;" >
            <a class="cat-overlay text-white text-decoration-none" href="">
              <h4 class="text-white font-weight-medium">Salle télé</h4>
              <span>
              <h6 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px; font-size: 0.9em;">Enfidha-Hammamet</h6>

            </span>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="cat-item position-relative overflow-hidden rounded mb-2">
            <img class="img-fluid" src="assets/img/monastir.webp" alt="" style="height: 150px;">
            <a class="cat-overlay text-white text-decoration-none" href="">
              <h4 class="text-white font-weight-medium">Cours enregistrés</h4>
              <span>  <h6 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px; font-size: 0.9em;">Monastir</h6></span>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="cat-item position-relative overflow-hidden rounded mb-2">
            <img class="img-fluid" src="assets/img/sfax.jpg" alt="" style="height: 150px;">
            <a class="cat-overlay text-white text-decoration-none" href="">
              <h5 class="text-white font-weight-medium">Des coins de lectures</h5>
              <span>
               <h6 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px; font-size: 0.9em;">Sfax-Tina</h6>
            </span>
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="cat-item position-relative overflow-hidden rounded mb-2">
            <img class="img-fluid" src="assets/img/djerba.jpg" alt="" style="height: 150px;">
            <a class="cat-overlay text-white text-decoration-none" href="">
              <h4 class="text-white font-weight-medium">Roboting</h4>
              <span> <h6 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px; font-size: 0.9em;">Djerba-Zarzis</h6></span>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="cat-item position-relative overflow-hidden rounded mb-2">
            <img class="img-fluid" src="assets/img/tozeur.jpg" alt="" style="height: 150px;">
            <a class="cat-overlay text-white text-decoration-none" href="">
              <h4 class="text-white font-weight-medium">Recherche</h4>
              <span>
               <h6 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px; font-size: 0.9em;">Tozeur-Nafta</h6>
            </span>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="cat-item position-relative overflow-hidden rounded mb-2">
            <img class="img-fluid" src="assets/img/gabes.jpg" alt="" style="height: 150px;">
            <a class="cat-overlay text-white text-decoration-none" href="">
              <h4 class="text-white font-weight-medium">Content Writing</h4>
              <span> <h6 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px; font-size: 0.9em;">Gabes-Matmata</h6></span>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="cat-item position-relative overflow-hidden rounded mb-2">
            <img class="img-fluid" src="assets/img/tbarka.jpg" alt="" style="height: 150px;">
            <a class="cat-overlay text-white text-decoration-none" href="">
              <h4 class="text-white font-weight-medium">Content Writing</h4>
              <span>
               <h6 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px; font-size: 0.9em;">TAbarka-Ain-drahem</h6>
            </span>
            </a>
          </div>
        </div>


        <!--      <div class="col-lg-3 col-md-6 mb-4">-->
        <!--        <div class="cat-item position-relative overflow-hidden rounded mb-2">-->
        <!--          <img class="img-fluid" src="assets/img/gafsa.webp" alt="" style="height: 150px;">-->
        <!--          <a class="cat-overlay text-white text-decoration-none" href="">-->
        <!--            <h4 class="text-white font-weight-medium">Musique</h4>-->
        <!--            <span>  <h6 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px; font-size: 0.9em;">Gafsa-Ksar</h6></span>-->
        <!--          </a>-->
        <!--        </div>-->
        <!--      </div>-->
      </div>
    </div>
  </div>
</section>
<section id="3">

  <div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
      <div class="text-center mb-5">
        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Directions</h5>

        <h1>Siéges Sociaux</h1>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 text-center team mb-4">
          <div class="team-item rounded overflow-hidden mb-2">
            <div class="team-img position-relative">
              <img class="img-fluid" src="assets/img/ca.png" alt="" style="height: 150px;">
              <div class="team-social">
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
            <div class="bg-white p-4 text-dark"> <!-- Changement de bg-secondary à bg-white et text-white à text-dark -->
              <h5>Centre de contrôle de la navigation aérienne</h5>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 text-center team mb-4">
          <div class="team-item rounded overflow-hidden mb-2">
            <div class="team-img position-relative">
              <img class="img-fluid" src="assets/img/ccr.png" alt="" style="height: 150px;">
              <div class="team-social">
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
            <div class="bg-white p-4 text-dark"> <!-- Changement de bg-secondary à bg-white et text-white à text-dark -->
              <h5>Direction des ressources humaines</h5>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 text-center team mb-4">
          <div class="team-item rounded overflow-hidden mb-2">
            <div class="team-img position-relative">
              <img class="img-fluid" src="assets/img/ca.png" alt="" style="height: 150px;">
              <div class="team-social">
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
            <div class="bg-white p-4 text-dark"> <!-- Changement de bg-secondary à bg-white et text-white à text-dark -->
              <h5>Direction de la sécurité de la navigation aérienne</h5>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 text-center team mb-4">
          <div class="team-item rounded overflow-hidden mb-2">
            <div class="team-img position-relative">
              <img class="img-fluid" src="assets/img/ca.png" alt="" style="height: 150px;">
              <div class="team-social">
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
            <div class="bg-white p-4 text-dark"> <!-- Changement de bg-secondary à bg-white et text-white à text-dark -->
              <h5>Diréction de la maintenance génerale</h5>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="4">
  <div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
      <div class="text-center mb-5">
        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Services</h5>


      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 text-center team mb-4">
          <div class="team-item rounded overflow-hidden mb-2">
            <div class="team-img position-relative">
              <img class="img-fluid" src="assets/img/controleur.webp" alt="" style="height: 150px;">
              <div class="team-social">
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
            <div class="bg-white p-4 text-dark"> <!-- Changement de bg-secondary à bg-white et text-white à text-dark -->
              <h5>Des controleurs circulations aériennes expérimentés</h5>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 text-center team mb-4">
          <div class="team-item rounded overflow-hidden mb-2">
            <div class="team-img position-relative">
              <img class="img-fluid" src="assets/img/service.jpg" alt="" style="height: 150px;">
              <div class="team-social">
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
            <div class="bg-white p-4 text-dark"> <!-- Changement de bg-secondary à bg-white et text-white à text-dark -->
              <h5>Des services H24 7/7 dans tous les aéroports</h5>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 text-center team mb-4">
          <div class="team-item rounded overflow-hidden mb-2">
            <div class="team-img position-relative">
              <img class="img-fluid" src="assets/img/radar.jpg" alt="" style="height: 150px;">
              <div class="team-social">
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
            <div class="bg-white p-4 text-dark"> <!-- Changement de bg-secondary à bg-white et text-white à text-dark -->
              <h5>Des radars pour assurer la surveillance de l'éspace aérien </h5>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 text-center team mb-4">
          <div class="team-item rounded overflow-hidden mb-2">
            <div class="team-img position-relative">
              <img class="img-fluid" src="assets/img/ifatsea.jpg" alt="" style="height: 150px; width: 200px; ">
              <div class="team-social">
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-square mx-1" href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
            <div class="bg-white p-4 text-dark"> <!-- Changement de bg-secondary à bg-white et text-white à text-dark -->
              <h5>Organisation des évenements mondiaux </h5>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section id="5">

  <div class="container-fluid bg-dark text-white py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
    <div class="row pt-5">
      <div class="col-lg-7 col-md-12">
        <div class="row">
          <div class="col-md-6 mb-5">
            <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Nos contacts</h5>
            <p><i class="fa fa-map-marker-alt mr-2"></i>Adresse Aéroport Tunis-Carthage, B.P. 137, Tunis Cedex 1080, Tunisia</p>
            <p><i class="fa fa-phone-alt mr-2"></i>+21671848000 +21671754000</p>
            <p><i class="fa fa-envelope mr-2"></i>bonne.gouvernanceoaca.nat.tn</p>
            <!--          <div class="d-flex justify-content-start mt-4">-->

            <!--            <div class="social-icons">-->
            <!--              <a href="http://www.oaca.nat.tn/index.php?id=673" class="facebook-icon">Facebook<i class="fab fa-facebook-f"></i></a>-->
            <!--              <a href="https://www.linkedin.com/company/oaca2030/mycompany/" class="linkedin-icon">Linkedin<i class="fab fa-linkedin"></i></a>-->

            <!--            <a class="btn btn-outline-light btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>-->
            <!--            <a class="btn btn-outline-light btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>-->
            <!--            <a class="btn btn-outline-light btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>-->
            <!--            <a class="btn btn-outline-light btn-square" href="#"><i class="fab fa-instagram"></i></a>-->
            <!--            </div>-->
            <div class="social-icons">
              <a href="https://www.facebook.com/groups/254040174677996" class="facebook-icon"><i class="fab fa-facebook-f fa-3x"></i></a>
              <a href="https://www.linkedin.com/company/oaca2030/mycompany/" class="linkedin-icon"><i class="fab fa-linkedin fa-3x"></i></a>
              <a href="https://www.instagram.com/oaca_tunisie?igsh=MTc3NjE0YWU4NjBxMA==" class="instagram-icon"><i class="fab fa-instagram fa-3x"></i></a>
            </div>



          </div>
          <!-- <div class="col-md-6 mb-5">
              <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Our Courses</h5>
              <div class="d-flex flex-column justify-content-start">
                  <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Web Design</a>
                  <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Apps Design</a>
                  <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Marketing</a>
                  <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Research</a>
                  <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>SEO</a>
              </div>
          </div> -->
        </div>
      </div>
      <div class="col-lg-5 col-md-12 mb-5">
        <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Espace Client</h5>
        <p>
        </p>
        <div class="w-100">
          <div class="input-group">
            <input type="text" class="form-control border-light" style="padding: 30px;"
                   placeholder="vos messages">
            <div class="input-group-append">
              <button class="btn btn-primary px-4">Envoyer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5"
       style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="row">
      <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
        <p class="m-0 text-white">&copy; <a href="#">Domain Name</a>. All Rights Reserved. Designed by <a
          href="https://htmlcodex.com">HTML Codex</a>
        </p>
      </div>
      <div class="col-lg-6 text-center text-md-right">
        <ul class="nav d-inline-flex">
          <li class="nav-item">
            <a class="nav-link text-white py-0" href="#">Privacy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white py-0" href="#">Terms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white py-0" href="#">FAQs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white py-0" href="#">Help</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Footer End -->


  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
</section>
